*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --color1: #1A1A2E;
    --color2: #16213E;
    --color3: #0F3460;
    --color4: #246cc4;
    --color5: #E94560;
  }

body{
    width: 100vw;
    background-color: var(--color1);
}
.mainTitle{
    font-size: 5em;
    text-align: center;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin: 15px;
}
.moviesWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    padding: 0 2em;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.movie{
    display: flex;
    padding: 7px 7px;
    border-radius: 1em;
    flex-direction: row;
    align-items: flex-start;
    font-weight: 800;
    color: whitesmoke;
    box-shadow: 0px 0px 28px -1px #151525;
}
.movieTitle{
    color: var(--color5);
    font-weight: 700;
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 10px;
}

.movieTumbnail{
    width: 200px;
    height: auto;
    max-height: 250px;
    border-radius: 1em;
}
.movieDesc{
    margin-left: 10px;
}
.desc{
    margin-bottom: 5px;
    font-size: 1em;
}